---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import ArticleLayout from '@layouts/ArticleLayout.astro';

export function getStaticPaths(): InferGetStaticPropsType<typeof getStaticPaths>[] {
  return [];
}

const title = 'Guide';
const description = '';
---

<ArticleLayout title={title} description={description}>
  <section>
    <h1>{title}</h1>
  </section>
</ArticleLayout>
