---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';

export function getStaticPaths(): InferGetStaticPropsType<typeof getStaticPaths>[] {
  return [];
}

const title = 'Use Case';
const description = '';
---

<BaseLayout title={title} description={description}>
  <section>
    <h1>{title}</h1>
  </section>
</BaseLayout>
